<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">

<head>
  <meta charset="UTF-8">
  <title>ToDoList</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="public/css/custom.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/toDoListController.js"></script>
</head>

<body ng-controller="MainController">
  <section class="container col-md-4">
    <form class="input-group">
      <input type="text" class="form-control" ng-model="taskInput" placeholder="Enter your task here...">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="addTask()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </form>

    <ul class="list-group" ng-repeat="task in tasks | filter: task">
      <li class="list-group-item" ng-dblclick="toggleEditMode()">
        <input type="checkbox" class="view pull-left" ng-model="task.done">
        <span class="view">{{ task.name }}</span>
        <input class="edit form-control" type="text" ng-model="task.name" ng-keyup="editOnEnter(task)">
        <button class="btn btn-danger pull-right" ng-click="deleteTask(task)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </li>
    </ul>

    <p class="total">Number of tasks: {{ (tasks | filter: task).length }}</p>
    <div class="btn-group btn-group-justified">
      <label class="btn btn-primary all" ng-click="task.done=''">All</label>
      <label class="btn btn-info active" ng-click="task.done=false">Active</label>
      <label class="btn btn-success completed" ng-click="task.done=true">Completed</label>
      <label class="btn btn-danger clear">Clear All</label>
    </div>
  </section>

</body>

</html>
