.input-group {
  margin-bottom: 0px;
  width: 100%;
}

.list-group {
  margin-bottom: 0px;
}

input.form-control {
  font-size: 20px;
}

input[type="checkbox"] {
  width: 40px;
  height: 35px;
  padding: 0;
  margin: 0;
}

.list-group li {
  height: 35px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.list-group li .edit {
  display: none;
}

.list-group li.editing .view {
  display: none;
}

.list-group li.editing .edit {
  display: inline-block;
  height: 35px;
  margin: 0;
}

.total {
  margin-top: 2.5%;
  font-size: 15px;
  width: 100%;
}